.clang-*
.dockerignore
.github/*
.gitignore
.gitlab-ci.yml
.zenodo.json
.idea/
build
dist
*.AppImage
results
**/build/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake-build*/
**/.cache/
**/lto-cache/
**/pgo-data/
*.gcda
*.gcno
*.profraw
*.profdata
